.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
  padding: var(--spacing-3);
  border-radius: 8px;
  color: var(--color-text);

  header {
    margin-bottom: var(--spacing-4);
    .post-list-item-headline {
      font-size: var(--fontSize-3);
      color: var(--color-primary);
      margin-bottom: var(--spacing-2);
      margin-top: var(--spacing-0);
    }
  }
  .post-list-item-description {
    margin-bottom: var(--spacing-0);
  }
}

// x:hover and x :hover are not the same.
.post-list-item:hover {
  background-color: rgb(46, 46, 46);
  header {
    .post-list-item-headline {
      color: var(--color-primary-bright);
    }
    .post-list-item-headline-date {
      color: var(--color-text-bright);
    }
  }
  .post-list-item-description {
    color: var(--color-text-bright);
  }
}
