.navbar {
  display: flex;
  h2 {
    padding-right: var(--spacing-4);
    word-wrap: normal;
    font-size: var(--fontSize-3);
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-primary-bright);
  }
}

// .navbar-item {
//   padding-right: var(--spacing-4);
// }

// .navbar-item:hover {
//   background-color: rgb(46, 46, 46);
// }